<div class="card border-primary mb-3">
    <div class="card-header">Almacenes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de almacenes</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/almacenes/form']">
                Crear Almacen
            </button>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>descripcion</th>
                <th>dueño</th>
                <th>tipo</th>
                <th>fecha</th>
                <th>
                editar
                </th>
                <th>eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let almacen of almacenes">
                <td>{{ almacen.id }}</td>
                <td>{{ almacen.nombre }}</td>
                <td>{{ almacen.descripcion }}</td>
                <td>{{ almacen.nombreCliente }}</td>
                <td>{{ almacen.tipoLogistica }}</td>
                <td>{{ almacen.createAt }}</td>
                <td>
                <button type="button" name="editar" [routerLink]="['/almacenes/form', almacen.id]" class="btn btn-primary btn-sm">editar</button>
                </td>
                <td>
                <button type="button" name="eliminar" (click)='delete(almacen)' class="btn btn-danger btn-sm">eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
    
    </div>
</div>
