<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form>
      <div class="form-group row">
        <label for="numero_guia" class="col-form-label col-sm-2">No. Guia</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="entrega.numero_guia" name="numero_guia">
        </div>
      </div>

      <div class="form-group row" >
        <label for="tipo_logistica" class="col-form-label col-sm-2">Tipo</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="entrega.tipoLogistica"   name="tipoLogistica" >
            <option value="">Seleccione</option> 
            <option *ngFor="let item of keys()" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="identificacion_transporte" class="col-form-label col-sm-2">Indentificador (placa)</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="entrega.identificacion_transporte" name="identificacion_transporte">
        </div>
      </div>

      <div class="form-group row">
        <label for="precio" class="col-form-label col-sm-2">Precio</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" [(ngModel)]="entrega.precio" name="precio">
        </div>
      </div>

      <div class="form-group row">
          <label for="cantidad_producto" class="col-form-label col-sm-2">Cantidad</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" [(ngModel)]="entrega.cantidad_producto" name="cantidad_producto">
          </div>
      </div>

      <div class="form-group row">
          <label for="descuento" class="col-form-label col-sm-2">Descuento</label>
          <div class="col-sm-6">
            <input type="text" disabled class="form-control" [(ngModel)]="entrega.descuento" name="descuento">
          </div>
      </div>

      <div class="form-group row">
          <label for="fecha_registro" class="col-form-label col-sm-2">Fecha de Registro</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" [(ngModel)]="entrega.fecha_registro" name="fecha_registro">
          </div>
      </div>

      <div class="form-group row">
          <label for="fecha_entraga" class="col-form-label col-sm-2">Fecha de Entega</label>
          <div class="col-sm-6">
            <input type="date"  class="form-control" [(ngModel)]="entrega.fecha_entraga" name="fecha_entraga">
          </div>
      </div>
        
      <div class="form-group row" *ngIf="!entrega.id">
        <label for="tipo_logistica" class="col-form-label col-sm-2">Cliente</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="entrega.fk_id_cliente" name="clientes" >
              <option value="">Seleccione</option>
                <option *ngFor="let cliente of clientesList" [value]="cliente.id">
                    {{ cliente.nombre }}
                  </option>
            </select>
          </div>
      </div>

      <div class="form-group row" *ngIf="!entrega.id">
        <label for="productos" class="col-form-label col-sm-2">Productos</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="entrega.fk_id_producto" name="productos" >
              <option value="">Seleccione</option>
                <option *ngFor="let producto of productosList" [value]="producto.id">
                    {{ producto.nombre }}
                  </option>
            </select>
          </div>
      </div>

      <div class="form-group row" *ngIf="!entrega.id">
        <label for="almacenes" class="col-form-label col-sm-2">Almacenes</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="entrega.fk_id_almacen_cliente" name="almacenes" >
              <option value="">Seleccione</option>
                <option *ngFor="let almacen of almacenesList" [value]="almacen.id">
                    {{ almacen.nombre }}
                  </option>
            </select>
          </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!entrega.id else elseBlock">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
