<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/imgs/portal.jpg" class="d-block " alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Bienvenidos</h2>
        <p>Portal Software Estrategico.</p>
      </div>
    </div>
  </div>
</div>